* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    transition: .3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: fuchsia;
    transition: 0.3s;
}

#workspaces button {
    padding: 3px;
    color: purple;
    margin-right: 5px;
}

#workspaces button.active {
    color: fuchsia;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 7px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 7px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#cpu,
#disk,
#workspaces,
#tray,
#backlight,
#user,
#custom-user,
#custom-screen,
#custom-blur,
#custom-gaps, 
#custom-spotify,
#submap {
    background: black;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #1e1e2e;
}

#user, #custom-user {
    color: deeppink;
    border-radius: 5px;
    border: 4px solid deeppink;
}

#submap {
    color: red;
    border-radius: 5px;
    margin-left: 2px;
    border: 4px solid red;
}

#custom-screen, #custom-blur, #custom-gaps {
    color: fuchsia;
    border-radius: 5px;
    border: 4px solid fuchsia;
    margin-left: 2px;
}

#temperature {
    border-radius: 0px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 7px 0px 0px 7px;
    padding-left: 7px;
}

#tray {
    border-radius: 7px;
    margin-right: 5px;
    padding: 0px 4px;
}

#workspaces {
    background: black;
    border-radius: 7px;
    margin-left: 0px;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-spotify {
    color: #89b4fa;
    color: #a6e3a1;
    border-radius: 7px;
    border-right: 0px;
    padding-left: 7px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: #fab387;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: #f9e2af;
    border-radius: 7px 0px 0px 7px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 7px 7px 0px;
    margin-right: 5px
}

#cpu {
    color: #f9e2af;
    border-radius: 7px 0px 0px 7px;
    border-left: 0px;
    border-right: 0px;
}

#disk {
    color: #89b4fa;
    border-radius: 0;
    margin-right: 0px
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 7px 7px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 7px 7px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 7px 7px 0;
    margin-right: 5px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 7px;
    border-right: 0px;
    margin-left: 0px;
}
